.content {
	grid-area: c;
	background-color: whitesmoke;
	margin: 24px;
	padding: 24px;
	height: max-content;
}

.item {
	background-color: #1890ff;
	color: white;
	padding-left: 16px;
	line-height: 2em;
	margin-top: 24px;
}
